<nav>
  <div class="container">
    <label class="logo">TrackMe</label>
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="hamburger">
        <i class="fas fa-bars"></i>
    </label>
    <ul class="nav-links">
        <li><a routerLink="/">Inicio</a></li>
        <li>
          <a (click)="verificarAccesoReportes($event)">Reportes</a>
        </li>
        <li><a routerLink="/estadisticas">Estadísticas</a></li>
        <ng-container *ngIf="!estaLogueado">
            <li><a routerLink="/registro">Registrarse</a></li>
            <li><a routerLink="/iniciar-sesion">Iniciar Sesión</a></li>
        </ng-container>
        <ng-container *ngIf="estaLogueado">
            <li><a routerLink="/perfil">Perfil</a></li>
            <li><a (click)="cerrarSesion()">Cerrar Sesión</a></li>
        </ng-container>
    </ul>
  </div>
</nav>
  