<app-header></app-header>
<div class="container">
  <div class="forms">
    <div class="form signup">
      <span class="title">Registro de Usuario</span>
      <form (ngSubmit)="onSubmit()">
        <div class="input-field">
          <input
            type="text"
            id="nombre"
            [(ngModel)]="usuario.nombre"
            name="nombre"
            placeholder="Ingrese su nombre"
            required
          />
          <i class="uil uil-user icon"></i>
        </div>
        <div class="input-field">
          <input
            type="email"
            id="email"
            [(ngModel)]="usuario.email"
            name="email"
            placeholder="Ingrese su email"
            required
            (ngModelChange)="validarEmail($event)"
          />
          <i class="uil uil-envelope icon"></i>
        </div>
        <div class="input-field">
          <input
            [type]="mostrarPassword ? 'text' : 'password'"
            id="password"
            [(ngModel)]="usuario.password"
            name="password"
            placeholder="Ingrese su contraseña"
            required
          />
          <i class="uil uil-lock icon"></i>
          <i
            class="uil"
            [ngClass]="mostrarPassword ? 'uil-eye' : 'uil-eye-slash'"
            (click)="togglePasswordVisibility()"
          ></i>
        </div>
        <small class="text-muted">
          La contraseña debe tener al menos 8 caracteres, una mayúscula, un número y un carácter especial.
        </small>
        <div class="input-field button">
          <button type="submit">Registrar</button>
        </div>
      </form>
      <p *ngIf="mensaje" class="mensaje">{{ mensaje }}</p>
      <p *ngIf="mensajeError" class="mensaje error">{{ mensajeError }}</p>
    </div>
  </div>
</div>
<app-footer></app-footer>